body {
    display: flex;
    flex-direction: column;
    margin: 50px 32%;
}

button {
    padding: 10px;
    width: 100px;
}

#display {
    padding: 30px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}